html(lang='en')
  include includes/head.pug
  body
    section(class='container')
      h1 Car Rental Supreme
      h3 Hyr din bil hos oss!
      
      include includes/nav.pug
      
      h2 Bekräfta din bokning nedan!
      
      div(class='wrapper')
        table(id="confirmtable")
          -var carid = data.id;
          -var start = data.start;
          -var stop = data.stop;
          -var brand = data.brand;
          -var rails = data.rails;
          -var tow = data.tow;
          -var gear = data.gear;
          -var seats = data.seats;
          -var price = data.price;

          tr
            th Märke:
            th= brand
          tr
            th Bil ID:
            th= carid
          tr
            th Växel:
            th= gear
          tr
            th Takräcke:
            th= rails   
          tr
            th Dragkrok:
            th= tow   
          tr
            th Antal platser:
            th= seats                    
          tr
            th Hyr från:
            th= start
          tr
            th Hyr till:
            th= stop
          tr
            th Pris/dag(sek):
            th= price  
          tr
            th Totalpris:
            th 
              div(id='answ')  
          tr  
            th
              button(id='calc') Beräkna totalpris                     
              
        form(method='post' action='/bekrafta')
          input(type="text" value=data.id name='id' class='hidden')
          input(type="text" value=data.start name='start' class='hidden' id="dateOne")
          input(type="text" value=data.stop name='stop' class='hidden' id="dateTwo")
          input(type="text" value=data.price name='price' class='hidden' id="price")
          input(type='submit' value="Bekräfta bokning" id="bokabtn") 
                 
          
include includes/scripts.pug  
